<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="/senUrl" method="post" >
			<input type="text" name="token" placeholder="Token"> </text>
			<input type="text" name="group" placeholder="GroupId"> </text>
			<button type="submit">Send</button>
		</form>
	</body>
</html>
